#f418597b-c657-462a-b9b2-371a1412fb40
  > div
  > div
  > div.scs-paragraph.scs-component.scs-paragraph-default-style
  > div
  > div
  > ul
  > li,
#bc7eae2e-c056-4d2c-952d-3a8f17509a9e
  > div
  > div
  > div.scs-paragraph.scs-component.scs-paragraph-default-style
  > div
  > div
  > ul
  > li {
  line-height: 1.375rem;
  margin-bottom: 0.8rem;
  list-style-position: outside;
  margin-left: 18px;
}
