.hero .content-container .content .body p {
  font-size: 1rem !important;
}

.container {
  overflow-x: hidden;
}

/* Primary BTNs gets black on Mobile -ALL*/
.cta-btn.primary.bg-primary {
  color: #000000;
}

@media (max-width: 768px) {
  /* Removes Space from languages -FOOTER*/
  #u10 > div > div.u10w5.u10w10 > div {
    padding-top: 0rem !important;
  }

  /* Hides Extra Social Icons -FOOTER*/
  #u10 > div > div.u10w5.u10w10 > ul.scl-icons {
    display: none !important;
  }

  .social-ankle-container .links {
    max-width: 23rem !important;
  }
}

.list-container {
  padding: 0rem 0 !important;
}

/*
  .card .no-padding {
    padding-top: 1rem!important;
  }
  */

.card-container p a:hover,
.card-container h3 a:hover {
  text-decoration: underline #fff;
}

strong {
  font-family: "Oracle Sans Bold";
}

/*
  ul {
    margin: 0.5rem 0rem 0.5rem 0rem;
    line-height: 22px !important;
  }
  */

.feature .content-container .message-container,
.banner .banner-content-container .body-content-def .banner-text-content .body {
  font-family: "Oracle Sans Regular" !important;
}

.feature .content-container {
  gap: 0rem !important;
}
.feature .content-container .message-container.left-text-position {
  margin: 5.96875rem 2rem 5.96875rem 0rem !important;
}

/*
  .col-section-list.cols-2 {
    grid-template-columns: 1fr 1fr !important;
  }
  
  .col-section-list.cols-3 {
    grid-template-columns: 1fr 1fr 1fr !important;
  }
  
  .col-section-list.cols-4 {
    grid-template-columns: 1fr 1fr 1fr 1fr !important;
  }
  
  @media (max-width: 1199px) {
    .hero .bg.pinBackgroundCenter .bg-image {
      background-position: left!important;
    }
  }
  */
