/*
.container {
  overflow-x: hidden;
}
*/

/* Banners problems - Multiple CSS classes */
.banner .banner-content-container .body-content-def .banner-text-content {
  font-size: 1rem !important;
  line-height: 0rem !important;
  font-family: "Oracle Sans regular", sans-serif !important;
}

.banner .banner-content-container .left-align {
  margin: 0 auto !important;
}

/* Primary BTNs gets black on Mobile -ALL*/
.cta-btn.primary.bg-primary,
.cta-btn.primary.bg-white {
  color: #000000;
}

.feature .content-container .message-container.left-text-position {
  margin: 5.96875rem 2rem 5.96875rem 0rem !important;
}

/* Isolated cases for Some features -BULLETS*/
#e2d996c5-d19d-44a2-ad89-c25c8f15e62fcustomComponentDiv
  > section
  > div
  > div.message-container.left-text-position
  > ul {
  margin-top: 1.25rem;
}

#e2d996c5-d19d-44a2-ad89-c25c8f15e62fcustomComponentDiv
  > section
  > div
  > div.message-container.left-text-position
  > ul
  > li {
  list-style-position: outside;
  margin-left: 1.825rem;
}

#e2d996c5-d19d-44a2-ad89-c25c8f15e62fcustomComponentDiv
  > section
  > div
  > div.message-container.left-text-position
  > li {
  line-height: 1.375rem;
  margin-bottom: 0.8rem;
}
/* END of Isolated cases for Some features -BULLETS*/
@media (max-width: 1999px) {
  .container {
    overflow-x: hidden;
    overflow-y: hidden;
  }

  .feature .content-container .message-container.left-text-position {
    margin: 1rem !important;
  }
}

@media screen and (max-width: 1671px) {
  .banner .banner-content-container .left-align {
    margin: 0 2.25rem !important;
  }
}

@media (max-width: 768px) {
  .banner .banner-content-container .body-content-def .banner-text-content {
    text-align: center !important;
  }
  col-section {
    padding-bottom: 1rem !important;
  }

  /* Increase bottom space on cards -ALL*/
  .col-section-list {
    gap: 2rem !important;
  }

  /* Big texts causes overlapping 
  .hero .content-container .content .body p {
    font-size: 1rem !important;
  }
  */

  /* Extra Space from title removed -FOOTER*/
  #social-ankle-title {
    margin-bottom: 0rem !important;
  }

  /* Removes Space from languages -FOOTER*/
  #u10 > div > div.u10w5.u10w10 > div {
    margin-top: 0rem !important ;
    padding-top: 0rem !important;
  }

  /* Hides Extra Social Icons -FOOTER*/
  #u10 > div > div.u10w5.u10w10 > ul.scl-icons {
    display: none !important;
  }

  .social-ankle-container .links {
    max-width: 23rem !important;
  }
}

.list-container {
  padding: 0rem 0 !important;
}

/*
  .card .no-padding {
    padding-top: 1rem!important;
  }
  */

.card-container p a:hover,
.card-container h3 a:hover {
  text-decoration: underline #fff;
}

strong {
  font-family: "Oracle Sans Bold";
}

/*
  ul {
    margin: 0.5rem 0rem 0.5rem 0rem;
    line-height: 22px !important;
  }
  */

.feature .content-container .message-container,
.banner .banner-content-container .body-content-def .banner-text-content .body {
  font-family: "Oracle Sans Regular" !important;
}

.feature .content-container {
  gap: 0rem !important;
}

/*
  .col-section-list.cols-2 {
    grid-template-columns: 1fr 1fr !important;
  }
  
  .col-section-list.cols-3 {
    grid-template-columns: 1fr 1fr 1fr !important;
  }
  
  .col-section-list.cols-4 {
    grid-template-columns: 1fr 1fr 1fr 1fr !important;
  }
  
  @media (max-width: 1199px) {
    .hero .bg.pinBackgroundCenter .bg-image {
      background-position: left!important;
    }
  }
  */

/* Card Mobile Alligment */

#b5ae7abb-556e-4dfd-a6d2-55b81d9cd031customComponentDiv
  > div
  > div.card-container
  > div.content.padding,
#bdade37b-1fa4-4ad1-a6b5-049785d19926customComponentDiv
  > div
  > div.card-container
  > div.content.padding,
#a9c7d4d9-7e33-4333-8fdd-82d79b6a62edcustomComponentDiv
  > div
  > div.card-container
  > div.content.padding,
#bb6e4357-86f1-490f-b118-e09677079523customComponentDiv
  > div
  > div.card-container
  > div.content.padding,
#c6d29d9c-02d9-43e9-97d6-191f7afbf91bcustomComponentDiv
  > div
  > div.card-container
  > div.content.padding,
#d82e90de-0e0c-4497-8aa4-a145ebdcc764customComponentDiv
  > div
  > div.card-container
  > div.content.padding,
#c9ffe069-b97e-435a-83f2-eb00f7b00221customComponentDiv
  > div
  > div.card-container
  > div.content.padding,
#e6cba823-e109-40e2-be0b-8dc3263aed81customComponentDiv
  > div
  > div.card-container
  > div.content.padding,
#b624bd3f-99f4-4619-9bc3-bcf3cb486607customComponentDiv
  > div
  > div.card-container
  > div.content.padding,
#a9e96f5c-92fc-48c6-a73c-cc32360a3f38customComponentDiv
  > div
  > div.card-container
  > div.content.padding,
#acb1cd1f-db53-4bcd-84ee-cb3db6ee4746customComponentDiv
  > div
  > div.card-container
  > div.content.padding,
#d17cbd08-5bb8-437a-b0ec-60e1dfea50b9customComponentDiv
  > div
  > div.card-container
  > div.content.padding,
#e02f08b7-30e8-4eb1-93ff-797af2653021customComponentDiv
  > div
  > div.card-container
  > div.content.padding,
#c9bc869a-c672-4867-9008-8690299dece7customComponentDiv
  > div
  > div.card-container
  > div.content.padding,
#bd65294f-93e8-410a-90dd-368c4dc201b5customComponentDiv
  > div
  > div.card-container
  > div.content.padding,
#d6e9193b-774d-4e5e-b6ea-914b3f28e9b8customComponentDiv
  > div
  > div.card-container
  > div.content.padding,
#c2055bc0-3f27-4636-b43a-0d670d7cd280customComponentDiv
  > div
  > div.card-container
  > div.content.padding,
#b523c6d7-6eba-4b0b-88e9-8d35bd536991customComponentDiv
  > div
  > div.card-container
  > div.content.padding,
#fd622a47-4913-4b2e-a3b4-347b6db424a5customComponentDiv
  > div
  > div.card-container
  > div.content.padding,
#e2c56fb2-41dc-4fd1-a2e8-f15e4caaa736customComponentDiv
  > div
  > div.card-container
  > div.content.padding {
  margin-top: auto !important;
  margin-bottom: auto !important;
}
