.RedBull-Dash {
  font-family: "Oracle Sans Regular",sans-serif;
  color: #ffffff;
}

.RedBull-Dash > h3{
  font-family: "Oracle Sans Semi Bold",sans-serif;
}

.RedBullHeader {
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 42px;
  margin-bottom: 10px;
}

.ScoreTableNames {
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 52px;
  margin: 0px;
}

.RedBullDescription-white {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
}

.FastestLap-Desc {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.FastestLap-Score {
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 26px;
  margin: 0px;
}

.FastestLap-ScoroDifference {
  font-style: normal;
  font-weight: 300;
  font-size: 23px;
  color: #ea1d2d;
  margin: 0px;
}

.RedBullDescription-yellow {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  color: #f3f320;
  margin-bottom: 20px;
}

.maxVersScore {
  display: grid;
  grid-template-columns: 1.2fr 3fr;
  grid-template-rows: 1fr;
  gap: 0px 60px;
  grid-template-areas: ". .";
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
  margin-bottom: 10rem;
}

.maxVersScore-secundary {
  margin-top: 60px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 25px;
  grid-template-areas: ". .";
  justify-content: start;
  align-content: start;
  justify-items: start;
  align-items: start;
}

.beatBest {
  display: flex;
  gap: 15px;
  flex-direction: row;
  align-items: center;
}

.tableScores {
  min-height: 50rem;
  overflow-x: scroll;
}

/*  TABLE*/
table.redTable {
  width: 100%;
  margin-top: 3rem;
  text-align: left;
  border-collapse: collapse;
}

table.redTable td,
table.redTable th {
  padding: 10px 10px;
}

table.redTable tbody td {
  font-size: 16px;
}

table.redTable tr:nth-child(even) {
  background: #0c355e;
}

table.redTable thead {
  background: #000000;
  height: 48px;
}

table.redTable thead th {
  font-size: 16px;
  font-weight: bold;
  color: #ffffff;
  text-align: left;
}

.gapRED {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  color: #ff0000;
}

.strong {
  font-weight: 800;
}

.gray {
  color: #9f9f9f;
}

.RedBull-Feature {
  margin: 160px 0px;
  background-color: #3e475e;
  padding: 34px 136px;

  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 25px;
  grid-template-areas: ". .";

  align-items: center;
}

.RedBull-Feature-btn {
  background-color: #fff;
  padding: 12px 30px;
  color: #000000 !important;
  font-style: normal;
  font-weight: 600;

  text-decoration: none;
}

.RedBull-Feature-text {
  font-style: normal;
  font-weight: 600;
  font-size: 32px;

  margin: 0px;
}

.RedBull-Feature-btn:hover {
  text-decoration: underline;
}

@media (max-width: 1099px) {
  .maxVersScore {
    display: flex !important;
    flex-direction: column;
  }

  #MaxVerImage {
    margin-bottom: 2.5rem;
  }

  .RedBullHeader,
  .RedBullDescription-white,
  .maxVersScore-secundary {
    text-align: center;
  }

  .RedBull-Feature {
    display: flex !important;
    flex-direction: column;
    gap: 25px;
    align-items: center;
  }

  .RedBull-Feature-text {
    text-align: center!important;
  }

  .maxVersScore-secundary {
    justify-items: center !important;
  }

  .beatBest {
    justify-content: center;
  }
}

@media (max-width: 710px) {
  .maxVersScore-secundary {
    margin-top: 60px;
    display: flex !important;
    gap: 60px;
    align-items: center !important;
    flex-direction: column;
  }

  .RedBull-Feature {
    padding: 34px 10px;
  }


}
