#efb4fb33-db09-4237-82be-fec27145a83e
  > div
  > div
  > div.scs-paragraph.scs-component.scs-paragraph-default-style
  > div
  > div
  > ul
  > li,
#a9c3fce3-7070-4c5d-b72e-28b2b3e23da7
  > div
  > div
  > div.scs-paragraph.scs-component.scs-paragraph-default-style
  > div
  > div
  > ul
  > li,
#ac2ab32d-61c3-4cd5-84ec-939f9c342dc4
  > div
  > div
  > div.scs-paragraph.scs-component.scs-paragraph-default-style
  > div
  > div
  > ul
  > li {
  line-height: 1.375rem;
  margin-bottom: 0.8rem;
  list-style-position: outside;
  margin-left: 18px;
}
