.CScolumn {
  margin: 0 auto;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
}

.card {
  background-color: #edeff500;
  color: white;
  padding: 1.375rem;
  height:fit-content;
}

caption {
    color:  #00747A;
    line-height: 3rem;
    text-align: left;
}

.demo {
  border-collapse: collapse;
  padding: 5px;
}
.demo th {
  background-color: #141821;
  font-weight: bold;
  line-height: 2.5rem;
}
.demo td {
  border-bottom: 1px solid  #EDEFF5;
  padding: 1rem;
  color: #141821;
}
